
Memorama_Cuautla/.vs/Memorama_Cuautla/v15/Server/sqlite3/db.lock
*.dll
*.pdb
*.dll
Memorama_Cuautla/obj/Debug/Assembly-CSharp.dll
Memorama_Cuautla/obj/Debug/Assembly-CSharp.pdb
Memorama_Cuautla/Temp/UnityLockfile
*.log
Memorama_Cuautla/Library/EditorInstance.json
Memorama_Cuautla/Library/StateCache/Hierarchy/8d803f-mainStage.json
Memorama_Cuautla/Library/StateCache/SceneView/a8dc9a-mainStage.json
